List - Start with [], you can add/remove items.  Can contain intergars/floats/strings

In [16]:
my_list = [2, 3.14,'David']

In [17]:
my_list

[2, 3.14, 'David']

In [23]:
my_empty_list = []

In [24]:
my_empty_list

[]

In [28]:
my_list_2 = ['D'] *6

In [29]:
my_list_2

['D', 'D', 'D', 'D', 'D', 'D']

In [30]:
my_list_2.append(5)#add #5 to the end of the list

In [31]:
my_list_2

['D', 'D', 'D', 'D', 'D', 'D', 5]

In [33]:
my_list_2.insert(2,3)#add # 3 3 to 2nd place in the list (will be before 2, 0,1)

In [34]:
my_list_2

['D', 'D', 3, 'D', 'D', 'D', 'D', 5]

In [35]:
my_list_2.pop()#remove the last item from the list

5

In [36]:
my_list_2

['D', 'D', 3, 'D', 'D', 'D', 'D']

Boolean - TRUE/FALSE

In [18]:
10==10

True

In [19]:
10!=9

True

In [20]:
7>10

False

In [21]:
10==10 and 9>8#double confirmation using add

True

String - Start with () and contain letters/numbers.  Strings cannot be modified

In [38]:
myName = 'David'
print(myName)

David

In [39]:
myName[3]#3rd letter in string

'i'

In [41]:
myName.upper()#change case type to UPPER of variable

'DAVID'

In [43]:
myName.center(10)

'  David   '

In [45]:
myName.find('i')

3

In [46]:
myName.split('v')

['Da', 'id']

In [47]:
len(myName)

5

Tuples - Start with (), same as a string, they cannot be modified

In [51]:
my_Tuple = ('TRUE', 10, 'David')
print(my_Tuples)

('TRUE', 10, 'David')

In [53]:
len(my_Tuple)

3

In [54]:
my_Tuple[1]

10

In [55]:
my_Tuple *3

('TRUE', 10, 'David', 'TRUE', 10, 'David', 'TRUE', 10, 'David')

In [61]:
my_Tuple[0:3]

('TRUE', 10, 'David')

Sets - Start with {}, they contain numbers/letters, can be assigned to a variable.  A set cannot contian duplicated values.  You can add/remove/modify a set

In [63]:
my_Set ={2,4,'Dog',6,'cat'}
print(my_Set)

{2, 4, 'Dog', 6, 'cat'}

In [64]:
len(my_Set)

5

In [65]:
'Dog' in my_Set

True

In [68]:
your_Set = {99,3,100}

In [70]:
my_Set.union(your_Set)#combines both sets

{100, 2, 3, 4, 6, 99, 'Dog', 'cat'}

In [71]:
my_Set | your_Set#combines both sets

{100, 2, 3, 4, 6, 99, 'Dog', 'cat'}

In [73]:
my_Set.intersection(your_Set)#combines both sets with common elements

set()

In [75]:
my_Set.differences(your_Set)#returns a new set with all items from the first set not in the first set

AttributeError: 'set' object has no attribute 'differences'

In [76]:
{3,100}.issubset(your_Set)#Asks if items are in your set

True

Dictionary - Starts with {}.  It contains key value pairs, E.g. Key = County, Pair = Castlebar.  You can add/remove/modify key-value pairs from a Dictionary.  There is no order to keys meaning if the same key appears twice in the dictionary, the most recent of the duplicated key will be displayed.

In [82]:
county_Towns = {'Mayo':'Castlebar',
                'Mayo':'Westport',
                'Galway':'SaltHill',
                'Wexford':'Enniscorthy',
                'Wexford':'Ferns'}
print(county_Towns)

{'Mayo': 'Westport', 'Galway': 'SaltHill', 'Wexford': 'Ferns'}

In [84]:
print(county_Towns['Mayo'])

Westport

In [85]:
print(county_Towns['Wexford'])

Ferns

In [86]:
len(county_Towns)

3

In [88]:
for k in county_Towns:
   print(county_Towns[k]," is the capital of ", k)

Westport  is the capital of  Mayo
SaltHill  is the capital of  Galway
Ferns  is the capital of  Wexford

In [89]:
list(county_Towns.keys())#list the number of keys in a dictionary

['Mayo', 'Galway', 'Wexford']

In [90]:
list(county_Towns.values())#list the number of values in a distionary

['Westport', 'SaltHill', 'Ferns']

In [96]:
'Mayo' in county_Towns#list keys in dictionary

True

In [102]:
county_Towns.items()#returns the Key and Values in the dictionary

dict_items([('Mayo', 'Westport'), ('Galway', 'SaltHill'), ('Wexford', 'Ferns')])

In [103]:
county_Towns.values()#returns the values in a dictionary

dict_values(['Westport', 'SaltHill', 'Ferns'])

In [104]:
county_Towns.keys()#retuns the keys in a dictionary

dict_keys(['Mayo', 'Galway', 'Wexford'])

In [109]:
county_Towns.get('Mayo')#returns the associated value for the specified key

'Westport'